/* -------------------------------
reset & default CSS
----------------------------------*/

html, body, div, article, aside, figure,
footer, header, hgroup, menu, nav, section,
span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
font-weight: normal;
font-variant: normal;
/*vertical-align: baseline;*/
background: transparent;
}

article, aside, figure, footer, header, hgroup, menu, nav, section {
display: block;
}

body {
background: url(../image/bg.png) repeat;
color: #333;
font-size: 100%;
line-height: 1;
font-family: 'ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3','Hiragino Kaku Gothic Pro','ãƒ¡ã‚¤ãƒªã‚ª','Meiryo','ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯',sans-serif;
-webkit-text-size-adjust: none;
-webkit-font-smoothing: antialiased;
word-wrap: break-word;
word-break: break-all;
height: 100%;
margin: 0;
}
/* body.noscroll {
overflow: hidden;
}
*/

ol, ul {
list-style: none;
}

blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after,q:before, q:after {
content: '';
content: none;
}

table, tr, th, td {
border-collapse: collapse;
border: 0;
border-spacing: 0;
}

:focus {
outline: 0;
}

ins {
text-decoration: none;
}

del {
text-decoration: line-through;
}

a {
color: #333;
}
a:link {
color: #333;
text-decoration: none;
}
a:visited {
color: #333;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}

a img:hover {
opacity: 0.8;
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}

.mgbm30{
margin-bottom:-30px;
}

.mgbm50{
margin-bottom:-50px;
}

/* clearfix */
.clearfix:after {
content: ".";
display: block;
clear: both;
height: 0;
visibility: hidden;
}

.clearfix {
min-height: 1px;
}

* html .clearfix {
height: 1px;
/*ï¿¥*//*/
height: auto;
overflow: hidden;
/**/
}


/* Header */
#header {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 60px;
background: rgba(255, 255, 255, .9);
z-index: 999;
}

#header_top {
width: 100%;
height: 414px;
padding-top: 50px;
background: url(../image/eyecatch_top.png) center center no-repeat;
background-size: cover;
}

.header_inner {
width: 1000px;
margin: 0 auto;
}

#header .logo {
margin-top: 9px;
}

.logo {
float: left;
width: 150px;
}

.header_nav {
display: inline-block;
*zoom: 1;
*display: inline;
float: right;
}

.header_nav li {
display: inline-block;
*zoom: 1;
*display: inline;
margin-left: 40px;
font-size: 18px;
}
.header_nav li a {
display: block;
padding: 2px 5px 0 5px;
line-height: 56px;
}
.header_nav li a:hover {
color: #888;
text-decoration: none;
}

.header_nav li strong {
display: block;
padding: 2px 5px 0 5px;
border-bottom: 2px solid #f4aeb3;
line-height: 56px;
}


/* Footer */
#footer {
padding: 20px 0;
background: url(../image/black_bg.png) repeat;
}

#footer p {
color: #fff;
font-size: 12px;
text-align: center;
}


/* Eyecatch */
#eyecatch {
width: 100%;
margin-top: 60px;
padding: 150px 0 100px 0;
background-size: cover; 
}

#eyecatch_contact {
    width: 100%;
    margin-top: 60px;
    padding: 45px 0 0px 0;
    background-size: cover;
}

#eyecatch_contact h1 {
    padding-bottom: 20px;
}

#eyecatch_contact p {
    color: #fff;
    font-size: 16px;
    line-height: 2.2em;
    font-weight: bold;
}

.eyecatch_inner {
width: 1000px;
margin: 0 auto;
}

.eyecatch_about {
height: 100px;
background: url(../image/eyecatch_about.jpg) center center no-repeat;
}

.eyecatch_contact {
height: 100px;
background: url(../image/eyecatch_about.png) center center no-repeat;
}

.eyecatch_service {
height: 100px;
background: url(../image/eyecatch_service.jpg) center center no-repeat;
}

.eyecatch_recruit {
height: 205px;
background: url(../image/eyecatch_recruit.png) center center no-repeat;
}

.eyecatch_contact {
    height: 150px;
    background: url(../image/eyecatch_contact.jpg) center center no-repeat;
}

#eyecatch h1 {
padding-bottom: 20px;
}

#eyecatch p {
color: #fff;
font-size: 16px;
line-height: 2.2em;
font-weight: bold;
}

.eyecatch_copy_top {
width: 1000px;
margin: 150px auto 0 auto;
}

.eyecatch_copy {
width: 1000px;
margin: 100px auto 0 auto;
}


/* Layout */
.section {
width: 100%;
padding: 100px 0;
}

.section#contact {
padding: 50px 0 300px 0;
}

.section_inner {
width: 1000px;
margin: 0 auto;
}

.section_main {
float: left;
width: 525px;
}

.section h2 {
margin-bottom: 50px;
margin-top: 5px;
}

.section h3 {
margin-bottom: 25px;
line-height:normal;
font-size: 24px;
}

h3 {
margin-bottom: 25px;
font-size: 24px;
}

.section p {
font-size: 16px;
line-height: 1.8em;
padding-right: 45px;
}

.section_image {
float: right;
}

.section_service {
height: 330px;
background: url(../image/service_bg.jpg) center top no-repeat;
background-size: cover;
}

.section_service_silk {
height: 330px;
background: url(../image/service_bg_silk.png) center top no-repeat;
background-size: cover;
}

.section_service_crom {
height: 330px;
background: url(../image/title_work_crom.png) center top no-repeat;
background-size: cover;
}

.section_service_cmyk {
height: 330px;
background: url(../image/title_special_cmyk.png) center top no-repeat;
background-size: cover;
}

.section_service_kumiawase {
height: 330px;
background: url(../image/title_special_kumiawase.png) center top no-repeat;
background-size: cover;
}

.section_service_3d {
height: 330px;
background: url(../image/title_special_3d.png) center top no-repeat;
background-size: cover;
}

.section_service_color {
height: 330px;
background: url(../image/title_special_color.png) center top no-repeat;
background-size: cover;
}

.section_service_kumitate {
height: 330px;
background: url(../image/title_special_kumitate.png) center top no-repeat;
background-size: cover;
}

.section_service_logistic {
height: 330px;
background: url(../image/title_special_logistic.png) center top no-repeat;
background-size: cover;
}

.section_service h3 {
color: #fff;
}

.section_service p {
color: #fff;
}

.section_service_silk p {
color: #fff;
}

.section_service_crom p {
color: #fff;
}

.section_service_cmyk p {
color: #fff;
}

.section_service_kumiawase p {
color: #fff;
}

.section_service_logistic p {
color: #fff;
}

.section_service_3d p {
color: #fff;
}

.section_service_color p {
color: #fff;
}

.section_service_kumitate p {
color: #fff;
}

.section_greetings {
background: url(../image/greeting_bg.png) center top no-repeat;
background-size: cover;
color: #fff;
}

.section_concept {
background: url(../image/concept_bg.png) center top no-repeat;
background-size: cover;
color: #fff;
}

.copy {
margin-top: 50px;
margin-bottom: 50px;
padding: 50px 0;
font-size: 16px;
line-height: 1.8em;
letter-spacing: 0.1em;
text-align: center;
}

.section_member {
width: 100%;
height: 300px;
background: url(../image/team_bg.jpg) center center no-repeat;
background-size: cover;
}


.section_job {
width: 100%;
height: 770px;
margin-top: -50px;
background: url(../image/job_bg.png) center bottom no-repeat;
background-size: cover;
}

.team_content {
float: left;
width: 475px;
margin-right: 50px;
}
.team_content:nth-child(2n) {
margin-right: 0;
}

.team_content img {
display: block;
float: left;
margin: 0 25px 50px 0;
}

.team_content_main {
float: right;
width: 300px;
padding-top: 10px;
}

.team_content_name {
margin-bottom: 10px;
padding-bottom: 4px;
border-bottom: 1px solid #333;
letter-spacing: -.40em;
}

.team_content_name h3 {
display: inline-block;
*zoom: 1;
*display: inline;
margin: 0;
float: left;
font-size: 20px;
font-weight: bold;
letter-spacing: normal;
}

.team_content p {
font-size: 13px;
line-height: 1.6em;
}

.team_content_name p {
display: inline-block;
*zoom: 1;
*display: inline;
float: right;
font-size: 14px;
text-align: right;
letter-spacing: normal;
}

.member_list li {
float: left;
margin: 0 6px 25px 0;
}
.member_list li:nth-child(4n) {
margin-right: 0;
}

.member_list li p {
margin-top: 5px;
color: #fff;
font-size: 14px;
text-align: center;
width: 200px;
}

.section_footer {
background: url(../image/black_bg.png) repeat;
}

.corporate_info {
display: table;
}

.corporate_info th,
.corporate_info td {
padding-bottom: 15px;
font-size: 14px;
text-align: left;
}

.corporate_info th {
width: 80px;
font-weight: bold;
}

.corporate_info td {
line-height: 1.5em;
}

.job_content {
position: relative;
float: left;
width: 320px;
height: 650px;
margin-right: 20px;
background: #f0f0f0;
}
.job_content:last-child {
margin-right: 0;
}

.job_content_title {
padding-top: 25px;
background: #333;
text-align: center;
}

.job_content_title h3 {
margin: 0;
}

.job_content_title p {
padding: 15px 25px 20px 25px;
color: #ddd;
font-size: 12px;
text-align: left;
line-height: 1.5em;
}

.job_content_main {
padding: 0 25px;
}

.job_content_main dt {
margin: 25px 0 10px 0;
font-size: 12px;
font-weight: bold;
}

.job_content_main dd {
margin-bottom: 5px;
font-size: 12px;
line-height: 1.5em;
}

.gallery_main {
float: left;
width: 500px;
}

.gallery_nav {
float: right;
width: 500px;
}

.gallery_nav li {
float: left;
width: 145px;
height: 97px;
margin: 0 0 18px 18px;
}
.gallery_nav li.active {
width: 139px;
height: 91px;
opacity: 1 !important;
border: 3px solid #333;
}
.gallery_nav li.active img {
width: 139px !important;
height: 91px !important;
}

.form_list_content {
width: 475px;
margin-bottom: 50px;
}

.form_list_content .btn {
width: 300px !important;
margin-top: 25px;
}

.form_list table tr th,
.form_list table tr td {
padding-bottom: 5px;
}

.btn_entry {
display: block;
position: absolute;
bottom: 25px;
left: 25px;
width: 270px;
padding: 15px 0;
background: #50aad8;
color: #fff !important;
font-size: 18px;
text-align: center;
}
.btn_entry:hover {
background: #5889af;
text-decoration: none;
}

.sweets {
width: 100% !important;
}

.sweets img {
display: inline-block;
margin-right: 50px;
}


/* Parts */
.btn {
display: inline-block;
*zoom: 1;
*display: inline;
position: relative;
width: 270px;
padding: 18px 0 16px 0;
border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
-pie-border-radius: 3px;
font-size: 18px;
text-align: center;
behavior: url(../PIE.htc);
}

.btn_default {
border: 1px solid #333;
}
.btn_default:hover {
background: rgba(0, 0, 0, .1);
text-decoration: none;
}

.btn_white {
border: 1px solid #fff;
color: #fff !important;
}
.btn_white:hover {
background: rgba(255, 255, 255, .1);
text-decoration: none;
}

.btn_service {
margin-top: 30px;
}


.modal_title {
padding: 20px 0 15px 0;
border-bottom: 1px solid #ddd;
box-shadow: 0 1px 0 #fafafa;
-webkit-box-shadow: 0 1px 0 #fafafa;
-moz-box-shadow: 0 1px 0 #fafafa;
color: #555;
font-size: 18px;
font-weight: bold;
text-align: center;
}

.form_area {
position: relative;
min-height: 150px;
padding: 5px 30px 20px 30px;
}

.alert_done {
position: absolute;
width: 100%;
top: 50%;
margin-top: -20px;
font-size: 14px;
font-weight: bold;
text-align: center;
line-height: 1.4em;
}

.modal_window form input[type="text"],
.modal_window form textarea {
display: block;
box-sizing: border-box;
-moz-box-sizing: border-box;
width: 100%;
margin-top: 15px;
padding: 10px;
border: 1px solid #e7e7e7;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #555;
font-size: 14px;
}

.error {
color: #e00;
font-size: 12px;
font-weight: bold;
}

.btn_submit {
display: inline-block;
*zoom: 1;
*display: inline;
cursor: pointer;
width: 100%;
margin-top: 15px;
padding: 15px 0;
background: #50aad8;
border: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #555;
color: #fff !important;
font-size: 14px;
text-align: center;
}
.btn_submit:hover {
background: #5889af;
text-decoration: none;
}





.fancybox-wrap {
position: absolute;
top: 0;
left: 0;
z-index: 8020;
}

.fancybox-skin {
position: relative;
padding: 0 !important;
background: url(../image/bg.png) repeat;
text-shadow: none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.fancybox-opened {
z-index: 8030;
}

.fancybox-opened .fancybox-skin {
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.fancybox-outer, .fancybox-inner {
position: relative;
}

.fancybox-inner {
overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
-webkit-overflow-scrolling: touch;
}

.fancybox-error {
color: #333;
margin: 0;
padding: 15px;
white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
display: block;
width: 100%;
height: 100%;
}

.fancybox-image {
max-width: 100%;
max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
background-image: url(../image/fancybox_sprite.png);
}

#fancybox-loading {
position: fixed;
top: 50%;
left: 50%;
margin-top: -22px;
margin-left: -22px;
background-position: 0 -108px;
opacity: 0.8;
cursor: pointer;
z-index: 8060;
}

#fancybox-loading div {
width: 44px;
height: 44px;
background: url(../image/fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
position: absolute;
top: -18px;
right: -18px;
width: 36px;
height: 36px;
cursor: pointer;
z-index: 8040;
}

.fancybox-nav {
position: absolute;
top: 0;
width: 40%;
height: 100%;
cursor: pointer;
text-decoration: none;
background: transparent url(../image/blank.gif);
-webkit-tap-highlight-color: rgba(0,0,0,0);
z-index: 8040;
}

.fancybox-prev {
left: 0;
}

.fancybox-next {
right: 0;
}

.fancybox-nav span {
position: absolute;
top: 50%;
width: 36px;
height: 34px;
margin-top: -18px;
cursor: pointer;
z-index: 8040;
visibility: hidden;
}

.fancybox-prev span {
left: 10px;
background-position: 0 -36px;
}

.fancybox-next span {
right: 10px;
background-position: 0 -72px;
}

.fancybox-nav:hover span {
visibility: visible;
}

.fancybox-tmp {
position: absolute;
top: -99999px;
left: -99999px;
visibility: hidden;
max-width: 99999px;
max-height: 99999px;
overflow: visible !important;
}

.office_thum {
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

.office_thum ul {
    display: inline-flex;
}

.office_thum ul li {
    margin: 2px;
}

/* Overlay helper */

.fancybox-lock {
overflow: hidden !important;
width: auto;
}

.fancybox-lock body {
overflow: hidden !important;
}

.fancybox-lock-test {
overflow-y: hidden !important;
}

.fancybox-overlay {
position: absolute;
top: 0;
left: 0;
overflow: hidden;
display: none;
z-index: 8010;
background: url(../image/fancybox_overlay.png);
}

.fancybox-overlay-fixed {
position: fixed;
bottom: 0;
right: 0;
}

.fancybox-lock .fancybox-overlay {
overflow: auto;
overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
visibility: hidden;
position: relative;
text-shadow: none;
z-index: 8050;
}

.fancybox-opened .fancybox-title {
visibility: visible;
}

.fancybox-title-float-wrap {
position: absolute;
bottom: 0;
right: 50%;
margin-bottom: -35px;
z-index: 8050;
text-align: center;
}

.fancybox-title-float-wrap .child {
display: inline-block;
margin-right: -100%;
padding: 2px 20px;
background: transparent; /* Fallback for web browsers that doesn't support RGBa */
background: rgba(0, 0, 0, 0.8);
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
text-shadow: 0 1px 2px #222;
color: #FFF;
font-weight: bold;
line-height: 24px;
white-space: nowrap;
}

.fancybox-title-outside-wrap {
position: relative;
margin-top: 10px;
color: #fff;
}

.fancybox-title-inside-wrap {
padding-top: 10px;
}

.fancybox-title-over-wrap {
position: absolute;
bottom: 0;
left: 0;
color: #fff;
padding: 10px;
background: #000;
background: rgba(0, 0, 0, .8);
}

.news{
	width:1000px;
	margin: 0 auto;
	margin-bottom:50px;
	}

.news table{
	width:1000px;
	margin-top:-30px;
	}
.news tr{
	border:solid #CCC 1px;
	}
.news td{
	padding:10px;
	line-height:140%;
	background-color:#FFF;
	}
.newstitle {
    font-weight: bold;
    color: #3C3C3C;
    margin-bottom: 5px;
    display: block;
}

#formWrap {
	width: 1000px;
	margin:0 auto;
	color:#555;
	line-height:120%;
	font-size:90%;
}
table.formTable{
	width:100%;
   margin: 10px auto;
	border-collapse:collapse;
}
table.formTable td,table.formTable th{
    border: 1px solid #D6D6D6;
    padding: 15px;
    background: #fff;
}
table.formTable th {
    width: 30%;
    font-weight: normal;
    background: #EAEAEA;
    text-align: left;
    color: #3C3C3C;
    font-size: 16px;
}
.required {
    display: inline-block;
    background-color: #f55151;
    width: 32px;
    height: 20px;
    margin-left: 3px;
    padding-top: 2px;
    color: #fff;
    font-size: 11px;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 3px;
    font-style: normal;
    font-weight: normal;
    font-weight: bold;
}
table.formTable tbody tr td input {
	 border: 1px solid #c7c7c7;
    box-sizing: border-box;
    font-size: 18px;
    height: 44px;
    line-height: 1.3;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}
table.formTable tbody tr td input.empty {
    background-color: #ededed;
}
table.formTable tbody tr td textarea {
    border: 1px solid #c7c7c7;
    box-sizing: border-box;
    font-size: 18px;
    /* height: 90px; */
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}
input[type="button" i], input[type="submit" i]{
    display: block;
    text-indent: 0;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    background: #000000;
    padding: 12px;
    font-size: 19px;
    margin: 0 auto;
    margin-top: 15px;
    font-family: 'Hiragino Kaku Gothic ProN','Meiryo','sans-serif','Verdana',"MS PGothic";
    width: 36%;
    transition: 0.5s;
    border: none;
	 display: inline-block;
}

input[type="button" i]:hover, input[type="submit" i]:hover{
    background: #5D5D5D;
}
input[type="reset" i] {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
}
input#back{
    border-radius: 6px;
    background: #CECECE !important;
    display: inline-block;
    color: #5F5F5F !important;
    width: 25%;
    margin-right: 10px;
}
input#back:hover{
    background: #C5C5C5 !important;
}
p.error_messe {
    color: red;
    margin-top: 50px;
    font-size: 18px;
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
background-image: url(../image/fancybox_sprite@2x.png);
background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
}

#fancybox-loading div {
background-image: url(../image/fancybox_loading@2x.gif);
background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
}
}

.reason{
	font-size:10px;
	color:#C00;
	}
	
.serviceno{
	font-size:12px;
	color:#fff;
	}

.footer_content {
	width: 475px;
	margin-bottom: 50px;
	color:#FFF;
	text-align:center;
}	
/* Localized */




/* loopslider */

#loopslider,#loopslider2 {
    margin: 0 auto;
    width: 100%;
    height: 130px;
    text-align: left;
    position: relative;
    overflow: hidden;
	 margin-top: 25px;
}
 
#loopslider ul,#loopslider2 ul {
    height: 130px;
    float: left;
    display: inline;
    overflow: hidden;
}
 
#loopslider ul li,#loopslider2 ul li {
    width: 195px;
    height: 130px;
    float: left;
    display: inline;
    overflow: hidden;
}
 
/* =======================================
    ClearFixElements
======================================= */
#loopslider ul:after,#loopslider2 ul:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
 
#loopslider ul,#loopslider2 ul {
    display: inline-block;
    overflow: hidden;
}

/* =======================================
    News
======================================= */


.section_news {
    padding: 41px 0px 0px 0px;
    line-height: 1.6;
}

p.news {
    border-bottom: 1px solid #C3C3C3;
    padding-bottom: 30px;
    /* background-color: aqua; */
    margin-bottom: -50px;
}

span.date {
    font-size: 12px;
    display: block;
    color: #AB4E55;
    font-weight: bold;
    margin-bottom: 6px;
}